<html>
    <head>
        <title>Clima do tempo</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    </head>
    <body>
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        
            <div class="container" >

                <h1>Previsão do tempo em <%=clima.locale.name%> - <%=clima.locale.state%> </h1>

                    <%for (var i = 0; i< clima.weather.length; i++) {%>

                    <div class="card" style="width: 40rem;">
                        <div class="card-body">
                            <h4 class="card-title"><%=clima.weather[i].date %></h4>
                            <p class="card-text"><%=clima.weather[i].text %></p>
                            <div class="row">
                                <div class="col md-6" style="
                                padding-bottom: 10px;
                            ">
                                    <img src="public/images/icons/upload.png" alt="">
                                    <%=clima.weather[i].temperature.max + '°C'%>
                                </div>
                                
                                <div class="col md-6">
                                        <img src="public/images/icons/download.png" alt="">
                                        <%=clima.weather[i].temperature.min  +'°C' %>
                                </div>
                            </div> 

                            <div class="row">
                                <div class="col md-6">
                                    <img src="public/images/icons/protection-symbol-of-opened-umbrella-silhouette-under-raindrops.png" alt="">
                                    <%=clima.weather[i].rain.probability %>
                                    
                                </div>
                                <div class="col md-6">
                                    <img src="public/images/icons/raindrop-close-up.png" alt="">
                                    <%=clima.weather[i].rain.precipitation %>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <%}%>
                </table>

            </div>
    </body>
</html>